<!-- IF S_IQCAPTCHA_AVAILABLE -->
	<noscript>
		<div>{L_IQCAPTCHA_NOSCRIPT}</div>
	</noscript>
	{% INCLUDEJS IQCAPTCHA_SERVER ~ '.js?onload=phpbbRecaptchaOnLoad&hl=' ~ lang('IQCAPTCHA_LANG') %}
	{# The g-iqcaptcha class is used in JavaScript #}
	<div class="g-iqcaptcha" data-sitekey="{IQCAPTCHA_PUBKEY}" data-callback="phpbbRecaptchaOnSubmit" data-size="invisible" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
<!-- ELSE -->
{L_IQCAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->
